@charset "UTF-8";

	.signUpContainer{
        display: inline-block;
        position: relative;
        left: 50%;
        margin: 30px 0 0 -190px;
    }
    table{
        border-spacing: 20px;
    }
    input {
        height: 25px;
    }
    input[type="text"], input[type="password"]{
        width: 220px;
    }
    .tel input[type="text"]{
        width: 56px;
    }
    .email input[type="text"]{
        width: 93px;
    }
    .btnGroup {
            text-align: center;
            height: 20px;
    }
    input[type="button"]{
        background-color: rgba(15, 15, 17, 0.644);
        border-radius: 10px; 
        border: none;
        color: white;
        text-align: center;
        font-size: 15px;
        padding: 5px 10px;
        height: 32px;
        cursor: pointer;
    }
    h3{
    	text-align: center;
    }